.ant-table-thead > tr > th {
  color: black !important;
}

.ant-layout-sider-trigger {
  background: transparent;
}

.title {
  color: black;
  margin: 0 20px 30px 20px;
  font-size: 2.2rem;
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box-actu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ant-modal-title {
  color: black !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ant-popover {
    width: 60vw;
  }
}
