#contact {
  height: calc(100vh - 140px);
  background-image: url("../../images/flour.png");
  background-size: inherit;
  background-position-x: 70%;
  padding-top: 40px;
  background-position-y: 90%;
}

.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

.adresse,
.horaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}

.adresse p,
.horaire p {
  font-size: 1.3vw;
  font-weight: 500;
  text-shadow: 1px 1px 1px #030303;
}

.horaire p {
  width: 80%;
  text-shadow: 1px 1px 1px #030303;
}

.horaire-adresse {
  display: flex;
  justify-content: space-evenly;
}

.container-contact h1 {
  font-size: 4vw;
  padding-top: 40px;
  text-shadow: 1px 1px 1px #030303;
}

.horaire-adresse h4 {
  font-weight: 600;
  text-shadow: 1px 1px 1px #030303;
}

.container-contact h4 {
  font-size: 2vw;
  margin-bottom: 3%;
  text-shadow: 1px 1px 1px #030303;
}

.container-horaire-adresse {
  width: 100%;
}
/* CONTACT PAGE */

.tel-container p {
  text-align: center;
  font-size: 1.4vw;
  font-weight: bold;
  padding: 0 15px;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #030303;
}

.tel-container {
  display: flex;
  justify-content: center;
  background-color: #0000007c;
  margin: 20px auto;
  border-radius: 5px;
  width: fit-content;
  height: 50px;
}

.tel-container:hover {
  box-shadow: 1px 1px 4px #ffffffe1;
}

.container-contact a {
  text-decoration: none;
  color: #c2ab90;
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container-contact {
    margin: auto;
    padding-bottom: 40px;
  }

  .horaire-adresse {
    width: 100%;
    margin-top: 20px;

    flex-direction: column;
    align-items: center;
  }

  .tel-container {
    margin: 30px auto;
  }
  .container-contact h1 {
    font-size: 8.5vw;
  }

  .container-contact h4 {
    font-size: 6vw;
    margin-bottom: 20px;
  }

  .adresse p,
  .horaire p {
    margin: 0 5px;
    font-size: 3.5vw;
  }

  .tel-container p {
    font-size: 4.5vw;
  }

  .adresse,
  .horaire {
    width: 100%;
  }

  .horaire {
    margin-bottom: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container-contact > h1 {
    margin-bottom: 20px;
    font-size: 7vw;
  }

  .adresse p,
  .horaire p {
    font-size: 2.3vw;
  }

  .container-contact h4 {
    font-size: 3.5vw;
  }

  .container-contact {
    padding-bottom: 35px;
  }

  .tel-container p {
    font-size: 3vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container-contact h1 {
    font-size: 4vw;
  }

  .container-contact h4 {
    font-size: 2vw;
  }

  .adresse p,
  .horaire p {
    font-size: 1.3vw;
  }

  .tel-container p {
    font-size: 1.4vw;
  }
}
