.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

.adresse,
.horaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  min-width: 350px;
}

.horaire-adresse {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.container-contact h1 {
  font-size: 4vw;
}

.horaire-adresse h4 {
  font-weight: 600;
}

.container-contact h4 {
  font-size: 2vw;
  margin-bottom: 3%;
}

/* CONTACT PAGE */

.tel-container p {
  text-align: center;
  font-size: 1.4vw;
  font-weight: bold;
  padding: 0 15px;
  margin-bottom: 0;
}

.tel-container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.486);
  margin-bottom: 20px;
  border-radius: 5px;
  width: 220px;
  height: 50px;
}

.tel-container:hover {
  box-shadow: 1px 1px 4px #ffffffe1;
}

.container-contact a {
  text-decoration: none;
  color: #c2ab90;
  font-weight: bold;
}

@media (max-width: 915px) {
  .container-contact {
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
  }

  .horaire-adresse {
    width: 100%;
    margin-top: 20px;

    flex-direction: column;
    align-items: center;
  }

  .tel-container {
    margin: 20px;
  }
  .container-contact h1 {
    font-size: 8.5vw;
  }

  .container-contact h4 {
    font-size: 5vw;
    margin-bottom: 20px;
  }

  .adresse p,
  .horaire p {
    margin: 0 5px;
    font-size: 3.5vw;
    font-weight: bold;
  }

  .tel-container p {
    font-size: 4.5vw;
  }

  .adresse,
  .horaire {
    width: 100%;
  }
}

@media (max-width: 915px) and (orientation: landscape) {
  .container-contact > h1 {
    margin-bottom: 20px;
    font-size: 7vw;
  }
  .tel-container p {
    font-size: 2vw;
  }

  .container-contact h4 {
    font-size: 2.5vw;
  }

  .container-contact {
    padding-bottom: 35px;
  }
}
