.container-contact {
  padding-top: 40px;
  min-height: calc(100vh - 140px);
  background-image: url("../../images/pizza-ardoise.jpg");
  background-size: cover;
  background-position-y: 70%;
}

.adresse,
.horaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  text-align: center;
}

.adresse p,
.horaire p {
  font-weight: 500;
  text-shadow: 1px 1px 1px #030303;
}

.horaire p {
  width: 80%;
  text-shadow: 1px 1px 1px #030303;
}

.horaire-adresse {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  width: 95%;
}

.container-contact h1 {
  font-size: 4vw;
  padding-top: 40px;
  text-shadow: 1px 1px 1px #030303;
}

.horaire-adresse h4 {
  font-weight: 600;
  text-shadow: 1px 1px 1px #030303;
}

.container-contact h4 {
  font-size: 2vw;
  margin-bottom: 10%;
  text-shadow: 1px 1px 1px #030303;
}

.container-contact a {
  text-decoration: none;
  color: #c2ab90;
  font-weight: bold;
}

.container-horaire-adresse {
  width: 100%;
}
/* CONTACT PAGE */

.tel-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 5px;
  width: fit-content;
  background-color: #0000007c;
  padding: 30px;
}

.tel-container:hover {
  box-shadow: 1px 1px 4px #ffffffe1;
}

.tel-container h4 {
  margin-bottom: 0;
}

.tel-container p {
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  padding: 0 15px;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #030303;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container-contact {
    margin: auto;
    padding-bottom: 40px;
    justify-content: start;
    background-position-x: 35%;
  }

  .horaire-adresse {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .tel-container {
    margin: 10px auto;
    padding: 10px;
  }
  .container-contact h1 {
    font-size: 8.5vw;
  }

  .container-contact h4 {
    font-size: 6vw;
    margin-bottom: 20px;
  }

  .adresse-text,
  .horaire p {
    margin: 0 5px;
  }

  .adresse-text {
    margin-bottom: 30px;
  }

  .tel-container h4 {
    margin-bottom: 0;
  }

  .adresse,
  .horaire {
    width: 80%;
  }

  .horaire {
    margin-bottom: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container-contact {
    margin: auto;
    padding-bottom: 40px;
    justify-content: start;
    background-position-x: 35%;
  }

  .horaire-adresse {
    width: 100%;
    margin-top: 20px;

    flex-direction: column;
    align-items: center;
  }
  .container-contact > h1 {
    margin-bottom: 20px;
    font-size: 7vw;
  }

  .adresse-text {
    margin-bottom: 50%;
  }

  .container-contact h4 {
    font-size: 3.5vw;
  }

  .container-contact {
    padding-bottom: 35px;
  }

  .tel-container p {
    font-size: medium;
  }

  .tel-container {
    padding: 10px;
  }
  .horaire {
    margin-bottom: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .horaire-adresse {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    width: 95%;
    align-items: flex-start;
  }

  .container-contact h1 {
    font-size: 4vw;
    margin-bottom: 60px;
  }

  .container-contact h4 {
    font-size: 2vw;
  }
}
