.pizzas-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/ardoise.jpg");
  background-size: contain;
}

.pizzas-page > h1 {
  font-size: 4vw;
  padding-top: 40px;
}

.pizzas-page > p {
  margin: 20px auto 40px auto;
  font-size: 1.2vw;
  text-align: center;
}

#creme,
#tomate,
#originale,
#contact {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.creme > h1,
.tomato > h1,
.originale > h1 {
  margin-top: 0;
  font-style: italic;
  text-align: center;
  font-size: 3.5vw;
}

.tomatoImg,
.creamImg {
  width: 45%;
  filter: brightness(50%);
  position: absolute;
}

.tomato-container,
.cream-container,
.originale-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
  padding-bottom: 70px;
  color: #ffffffe1;
  z-index: 1;
}

.originale-container {
  padding-bottom: 30px;
}

/* Big container ombragée pour chaque pizza */
.pizza-container {
  width: 30%;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  background: linear-gradient(to right, #0000005a, #000000be);
}

/* name/description container */
.pizza-container-1 {
  display: flex;
  flex-direction: column;
  width: 70%;
}

/* name */
.pizza-container-1 > h2 {
  color: #ffffffe1;
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin: 5px 0;
  font-size: 2vw;

  font-weight: 600;
}

/* description */
.pizza-container-1 > p {
  color: #ffffffe1;
  margin: 5px 0;
}

/* price container */
.pizza-container-2 {
  width: 30%;
  text-align: center;
  margin: auto;
}
/* price */
.pizza-container-2 > h4 {
  color: #ff6233;
  font-size: 2vw;
  font-family: "Open Sans";
  font-weight: bold;
  margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .pizzas-page {
    background-size: contain;
  }

  .pizzas-page > h1 {
    font-size: 9vw;
  }

  .pizzas-page > p {
    font-size: 3.5vw;
    width: 95%;
  }

  .tomatoImg,
  .creamImg {
    width: 100%;
  }

  .creme > h1,
  .tomato > h1,
  .originale > h1 {
    font-size: 8.5vw;
    margin-bottom: 40px;
  }

  /* Box ombragée pour chaque pizza */
  .pizza-container {
    width: 90%;
    margin: 5px;
    min-height: 140px;
  }

  .pizza-container-1 > h2 {
    font-size: 6vw;
  }

  .pizza-container-1 > p {
    font-size: 3.5vw;
    display: flex;
    align-items: center;
  }

  .pizza-container-1 {
    width: 80%;
  }

  .pizza-container-2 {
    width: 40%;
  }
  .pizza-container-2 > h4 {
    margin: 0;
    font-size: 6.4vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .pizza-container {
    width: 45%;
  }

  .pizzas-page > h1 {
    font-size: 7vw;
  }

  .pizzas-page > p {
    margin: 0px auto;
    font-size: 2.2vw;
  }

  .creme > h1,
  .tomato > h1,
  .originale > h1 {
    font-size: 6.5vw;
    margin-bottom: 20px;
    padding-top: 10px;
  }

  .tomatoImg,
  .creamImg {
    width: 80%;
  }

  .pizza-container-1 > h2 {
    font-size: 3.5vw;
  }

  .pizza-container-1 > p {
    min-height: 40px;
  }

  .pizza-container-2 {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .pizza-container-2 > h4 {
    margin: 0;
    font-size: 3.5vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .pizzas-page > h1 {
    font-size: 4vw;
  }

  .pizzas-page > p {
    margin: 20px auto 0 auto;
    font-size: 1.2vw;
  }

  .creme > h1,
  .tomato > h1,
  .originale > h1 {
    padding-top: 40px;
    margin-top: 0;
    font-size: 3.5vw;
  }

  .tomatoImg,
  .creamImg {
    width: 45%;
  }

  .pizza-container {
    width: 30%;
  }

  .pizza-container-1 > h2 {
    font-size: 2vw;
  }

  .pizza-container-2 > h4 {
    font-size: 2vw;
  }
}
