.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 60px;
  left: 94%;
  align-items: flex-end;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: #ffffffe1;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@media (max-width: 767px) {
  .scrollTop {
    left: 80%;
  }
}
