.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

.adresse,
.horaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}

.horaire-adresse {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.container-contact h1 {
  font-size: 3rem;
  margin: 0;
}

.container-contact h4 {
  font-size: 1.5rem;
  margin-bottom: 1%;
}

/* CONTACT PAGE */

.tel-container p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 15px;
}

.tel-container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.486);
  margin-bottom: 20px;
  border-radius: 5px;
  width: 220px;
  font-size: 1.2em;
  height: 50px;
}

.tel-container:hover {
  box-shadow: 1px 1px 4px #ffffffe1;
}

.container-contact a {
  text-decoration: none;
  color: #c2ab90;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container-contact {
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
  }

  .horaire-adresse {
    width: 100%;
    margin-top: 20px;

    flex-direction: column;
    align-items: center;
  }

  .tel-container {
    margin: 20px;
  }
  .container-contact h1 {
    font-size: 2.5rem;
  }

  .container-contact h4 {
    font-size: 1em;
    margin-bottom: 20px;
  }

  .adresse p,
  .horaire p {
    margin: 0 5px;
    font-size: 0.8rem;
  }

  .adresse,
  .horaire {
    width: 100%;
  }
}
