/* LOGO */

.logo {
  height: 120px;
  position: relative;
  top: 20px;
  right: 10px;
  width: 260px;
}

.logo-link {
  height: 120px;
  display: flex;
  justify-content: center;
  position: absolute;
}

/* NAVBAR */

.navbar-container {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-list a {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #ffffffe1;
  font-weight: bold;
  font-size: large;
  padding-bottom: 5px;
}

/* Soulignement des éléments du menu */
.navbar-list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 1px;
  width: 0;
  background: #ff6233;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.navbar-list a:hover::after {
  width: 100%;
  left: 0;
}

/* Changement de couleur lorsqu'un onglet est actif */
.navbar-list .active a {
  text-shadow: 2px 2px 2px #050705;
  color: #ff6233;
}

/* Mise en forme des éléments de la liste du menu / retrait des puces */
.navbar-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  list-style: none;
  margin: 20px 0;
}

/* MENU BURGER */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffffe1;
  height: 10% !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #ff6233;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 30px;
  width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffffe1;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  right: 0px;
  top: 0;
  z-index: 1100;
  height: 100%;
  transition: all 0.5s ease 0s;
}

/* General sidebar styles */
.bm-menu {
  background-image: url("../../images/ardoise.jpg");
  background-size: cover;
  filter: brightness(80%);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  display: flex;
  justify-content: center;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding-left: 0;
  text-align: center;
}

/* Styling of overlay */
.bm-overlay {
  background: #fff5f0;
}

@media (max-width: 768px) {
  .logo {
    width: 140px;
    height: 70px;
    margin: 10px 0;
    top: 0;
    right: 0;
  }

  .logo-link {
    height: 70px;
    display: flex;
    justify-content: center;
  }
}
