.background {
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("../../images/part.jpg");
}

.slogan {
  width: 80%;
  height: 80vh;

  margin: auto;

  color: #ffffffe1;
  font-family: "Playfair Display", serif;
  font-style: italic;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan > h1 {
  width: 90%;
  font-size: 4.5rem;
  margin: 0 auto;
  display: flex;
  font-weight: 500;
  justify-content: space-evenly;
}

.slogan > h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.slogan > a {
  color: #ffffffe1;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.5rem;
}

.slogan > h1:after {
  content: "Profiter";
  color: #ff6233;
  animation: topToBottom 8s infinite 0s;
  width: 200px;
}

@keyframes topToBottom {
  10% {
    content: "Profiter";
  }
  30% {
    content: "Partager";
  }
  50% {
    content: "Rire";
  }
  70% {
    content: "Sortir";
  }
  90% {
    content: "Vivre";
  }
}

.disappeared {
  animation: disappear 1s forwards;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container-arrows {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.arrows,
.arrows2,
.arrows3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.arrows path {
  stroke: #ffffffe1;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

.arrows2 path {
  stroke: #ff6233;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

.svg {
  width: 70px;
  height: 90px;
}

.arrows3 path {
  stroke: #2e5227;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

h4 {
  color: #ffffffe1;
  margin: 10px auto 20px auto;
}

.type,
.type:visited {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.486);
  font-weight: bold;
  font-size: 1.2em;
}

.cream-arrow:hover {
  box-shadow: 1px 1px 4px #ffffffe1;
}

.tomato-arrow:hover {
  box-shadow: 1px 1px 4px #ff6233;
}

.original-arrow:hover {
  box-shadow: 1px 1px 4px #2e5227;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

@media (max-width: 768px) {
  .slogan > h1:after {
    content: "Profiter";
    color: #ff6233;
    animation: topToBottom 8s infinite 0s;
    width: 60px;
  }

  .slogan {
    width: 90%;
    bottom: 6%;
    position: relative;
  }

  .slogan > h1 {
    width: 90%;
    font-size: 1.4rem;
  }

  .slogan h4 {
    font-size: 1rem;
  }

  .slogan > p {
    font-size: 1rem;
  }

  .slogan > a {
    font-size: 1.5rem;
  }

  .container-arrows {
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .arrows,
  .arrows2,
  .arrows3 {
    width: 30%;
  }

  .type {
    font-size: 0.8em;
    text-align: center;
  }
}

/* Défilement de droite à gauche */

.position {
  position: relative;
  top: 170px;
  left: 0;
  display: flex;
  align-items: center;
}

.bandeau {
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.486);
  height: 100px;
}

.actu {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  white-space: nowrap;

  padding-left: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: actu;
  animation-name: actu;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.actu:hover {
  animation-play-state: paused; /* met en pause le défilement */
}

.actu_titre {
  display: inline-block;
  padding: 0 200px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

@-webkit-keyframes actu {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes actu {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
