.slogan {
  width: 80%;
  height: 100vh;

  margin: auto;

  color: #ffffffe1;
  font-family: "Playfair Display", serif;
  font-style: italic;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan > h1 {
  width: 90%;
  font-size: 4.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.slogan > h4 {
  font-size: 1.8rem;
}

.slogan > a {
  color: #ffffffe1;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.5rem;
}

.slogan > h1:after {
  content: "Profiter";
  color: #ff6233;
  animation: topToBottom 8s infinite 0s;
  width: 200px;
}

@keyframes topToBottom {
  10% {
    content: "Profiter";
  }
  30% {
    content: "Partager";
  }
  50% {
    content: "Rire";
  }
  70% {
    content: "Sortir";
  }
  90% {
    content: "Vivre";
  }
}

.disappeared {
  animation: disappear 1s forwards;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container-arrows {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.arrows,
.arrows2,
.arrows3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.arrows path {
  stroke: #ffffffe1;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

.arrows2 path {
  stroke: #ff6233;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

svg {
  width: 70px;
  height: 90px;
}

.arrows3 path {
  stroke: #2e5227;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

h4 {
  color: #ffffffe1;
  margin: 10px auto 20px auto;
}

.type,
.type:visited {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.486);
  font-weight: bold;
  font-size: 1.2em;
}

.cream-arrow:hover {
  box-shadow: 1px 1px 4px #ffffffe1;
}

.tomato-arrow:hover {
  box-shadow: 1px 1px 4px #ff6233;
}

.original-arrow:hover {
  box-shadow: 1px 1px 4px #2e5227;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

@media (max-width: 768px) {
  .slogan {
    width: 90%;
    top: 45%;
  }

  .slogan > h1 {
    width: 90%;
    font-size: 1.4rem;
    margin: 0 0 0 40px;
  }

  .slogan > p {
    font-size: 1rem;
  }

  .slogan > a {
    font-size: 1.5rem;
  }
}
